.home {
	flex: 4;
	box-sizing: border-box;
	height: calc(100vh - 70px);
	margin-top: 50px;
	overflow: auto;
}

.homeWidgets {
	display: flex;
	margin: 20px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #d4d4d4;
}

*::-webkit-scrollbar-thumb:hover {
	background: #d4d4d4;
}

*::-webkit-scrollbar-thumb:active {
	background: linear-gradient(left, #22add4, #1e98ba);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
