.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: black;
    position: sticky;
    top: 50px;
    min-width: 250px;
    background-image: url("../../assets/img/hufi-lib.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }

  @media screen and (max-width: 600px) {
    .sidebar{
      display: none;
    }
  }
  
  .sidebarWrapper {
    /* padding-top: 10px; */
    color: white;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 0;
  }
  
  .sidebarListItem {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
    color: black;
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 30px !important;
  }